#title {
    background-color: #ff4c68;
    color: #fff;
}

body {
    font-family: "Montserrat";
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}

p {
    color: #8f8f8f;
}

/* headings */
.big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Navigation bar */
.navbar {
    background-color: #ff4c68;
    padding: 0 0 4.5rem;
}

.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.nav-item {
    color: white;
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

.nav-item a:hover {
    color: white;
}

/* Download buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
    transform: rotate(25deg);
    position: absolute;
    height: 600px;
    width: 350px;
    margin: 2%;
}

/* features section */
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;

}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
    cursor: pointer;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Testimonial-section */
#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* press-section */
#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin:20px 20px 50px;
}

/* pricing-section */

#pricing {
    padding: 7% 12%;
    text-align: center;
}

.card-title {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding-left: 3%;
    padding-right: 3%;
}

.card {
    top: 5%;
    text-align: center;
}

.card-header {
    font-weight: bold;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

/* call to action - section */
#cta {
    background-color: #ff4c68;
    height: 400px;
    text-align: center;
}

.call-to-action {
    padding: 6% 14% 0 14%;
}

.call-to-action h2 {
    color: #fff;
}

/* footer-section */
#footer {
    background-color: #fff;
    height: 200px;
    text-align: center;
    padding: 4%;
}

.footer-icons {
    padding: 2% 3%;
}